.jOwlCarouselEditCardEdit{
    margin: .5rem 0 0 .5rem;
    width: 18rem;
}
.cardBody{
    padding: .5rem;
}

.jOwlCarouselEditCardEdit h1{
    font-size: 1.2rem;
}

.jOwlCarouselEditCardEdit p{
    width: 90% !important;
}
